html {
  /* change font-size */
  font-size: 1rem;
}

.font-size {
  font-size: 1rem;
}

.big-container {
  margin-top: 2rem;
  background-color: purple;
  padding: 1rem 0;
  width: 100%;
}

.small-container {
  margin-top: 2rem;
  background-color: purple;
  padding: 1rem 0;
  width: 50%;
}

.full-width {
  background-color: orange;
  width: 100%;
}

.color-white {
  color: white;
}
